@charset "utf-8";
@import 'normalize';
@import 'variables';
@import 'syntax';

// TODO make this local
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

html, body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend %default-font;
  height: 100%;
  -webkit-text-size-adjust: none; /* Never autoresize text in landscape */
  font-size: 14px;
}

////////////////////////////////////////////////////////////////////////////////
// MAIN STRUCTURE
////////////////////////////////////////////////////////////////////////////////

.toc-wrapper {
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  bottom: 0;
  width: $nav-width;
  font-weight: bold;
}

.page-wrapper {
  margin-left: $nav-width;
  padding: 0 $main-padding;
}

////////////////////////////////////////////////////////////////////////////////
// MAIN CONTENT
////////////////////////////////////////////////////////////////////////////////
